$green: #00c180;
$blue: #35495e;
nav {
  background-color: $green;
}
p {
  font-size: 18px;
  font-weight: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h4, h3, h2 {
  color: #35495e;
}

strong {
  color: $green;
}
body {
 font-family: arial; 
}
.enlace {
  margin: 20px 20px 20px 20px;
}
